<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3a2e5540517352a856e5bfdc786493d9&libraries=LIBRARY"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3a2e5540517352a856e5bfdc786493d9&libraries=services"></script>

<div class="form-group" action='/find' method='post'>
  <%= link_to '돌 아 가 기', find_path(@direction), class: "btn btn-default btn-sm"%>
</div>